pytube3
noisereduce
tensorflow
moviepy
num2words
pydub
kneed
imageio
torch
tqdm
umap_learn
Unidecode
python_speech_features
tensorflow_datasets
librosa
numpy
opencv-python
scipy
matplotlib
pandas